body{
	font-family: Arial, sans-serif;
	background-image: url('https://th.bing.com/th/id/R.eba17213ca6bd9d18b56b7f04e51d100?rik=zmXtUlGOaCqNKA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-IOflYVYUtm8%2fTcA0b88ffNI%2fAAAAAAAABbk%2ffbtII_JX9Cg%2fs1600%2fabstrato-tons-de-azul-imagens-imagem-de-fundo-wallpaper-para-pc-computador-tela-gratis-ambiente-de-trabalho.jpg&ehk=2hLThAcipipLwCRwatLCwpXvOssNFN%2bM562R9MnzxSo%3d&risl=&pid=ImgRaw&r=0');	
	padding: 20px;
}

.caixa-formulario{
	width: 400px;
	margin: 0 auto;
	
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 25px
}
h1{
    text-align: center;
	color: #333;
}

p{
	text-align: center;
	color: #555;
}

label,
input, 
textarea,
button{
	display: block;
}
label{
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: bold;
}
input,
textarea {
	padding: 8px;
}
buttom{
	margin-top: 20px;
	padding: 10px;
}